<hello></hello>

<main>
  <form [formGroup]="addressFrom">
    <div>
      <mat-form-field class="cep-container" appearance="outline">
        <mat-label>CEP</mat-label>
        <input
          matInput
          formControlName="cep"
          [value]="addressFrom.get('cep')?.value | cep"
          maxlength="9"
        >
      </mat-form-field>
    </div>

    <div class="inputs-container">
      <mat-form-field class="w-60" appearance="outline">
        <mat-label>Logradouro</mat-label>
        <input matInput formControlName="logradouro">
      </mat-form-field>

      <mat-form-field class="w-40" appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro">
      </mat-form-field>
    </div>

    <div class="inputs-container">
      <mat-form-field class="w-60 localidade" appearance="outline">
        <mat-label>Localidade</mat-label>
        <input matInput formControlName="localidade">
      </mat-form-field>

      <section class="w-40 uf-section">
        <mat-form-field class="w-50" id="uf" appearance="outline">
          <mat-label>UF</mat-label>
          <input matInput formControlName="uf">
        </mat-form-field>

        <mat-form-field class="w-50" appearance="outline">
          <mat-label>Complemento</mat-label>
          <input
            matInput
            formControlName="complemento"
            [value]="addressFrom.get('complemento')?.value | complemento"
          >
        </mat-form-field>
      </section>
    </div>

    <div class="inputs-container">
      <mat-form-field appearance="outline">
        <mat-label>IBGE</mat-label>
        <input matInput formControlName="ibge">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>GIA</mat-label>
        <input matInput formControlName="gia">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>DDD</mat-label>
        <input matInput formControlName="ddd">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>SIAFI</mat-label>
        <input matInput formControlName="siafi">
      </mat-form-field>
    </div>
  </form>
  
  <footer>
    <button mat-raised-button color="primary" (click)="saveOnStorage()">Salvar</button>
  </footer>
</main>
